body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 55px;
}
.subline {
  font-size: 40px;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    color: #ED6F70;
    background-color: #F9F1E4;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    color: #F9F1E4;
    background-color: #ED6F70;
  }
  .right a {
    color: #F9F1E4;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
