<html>
<head>

  <title>Bold You</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap" media="print" onload="this.media='all'"/>
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap"/></noscript>

  {% set css %}
  {% include "css/styles.css" %}
  {% endset %}
  <style type="text/css">
    {{css | cssmin | safe}}
  </style>

</head>

<div class="split left">
  <div class="centered" style="width:70%;">
    <h1>Let us be bold.</h1>
    <p class="subline">Deine Expertise zeigen und online sichtbar machen.</p>
  </div>
</div>

<div class="split right">
  <div class="centered" style="top: 44%;">
    <img src="/assets/images/200929_Logo_BoldYou_final_BoldYou_beige.png" alt="Avatar man">
    <p class="text">Ab M&auml;rz 2021 f&uuml;r euch hier sichtbar.<br /><a href="mailto:you@bold-you.com">you@bold-you.com</a></p>
  </div>
</div>
</html>